@import "../styles/default.scss";

.About {
  // height: 400px;
  padding: 50px 0;
  background-color: $color-darkgray;
  .wrapper {
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    @include flex-center();
    .profile {
      flex: 3;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }

    .content {
      flex: 7;
      height: 100%;
      @include flex-center(column);
      align-items: stretch;

      &.animate {
        > div {
          opacity: 1;
          transform: translateX(0);
        }
      }

      > div {
        height: 30%;
        padding: 20px;
        transform: translateX(100px);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            transition-delay: ($i - 1) * 0.1s;
          }
        }

        h2 {
          text-transform: capitalize;
          color: $text-white;
          text-align: left;
          font-size: 20px;
          font-weight: bold;
        }

        p,
        > div {
          margin-top: 5px;
          color: $text-gray;
          text-align: left;
          text-indent: 5px;
        }
      }
    }
  }
}
