@import "./default.scss";

.Modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  &.open {
    display: flex;
    align-items: center;
  }

  section {
    margin-top: 50px;
    transition: all 0.2s ease;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background: $color-lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 50px;
    .header {
      @include flex-center(column);
      position: relative;
      .title {
        font-size: 30px;
        font-weight: bold;
      }
      .description {
        margin-top: 10px;
      }
      .close {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
      }
    }

    .body {
      margin-top: 30px;
      overflow: hidden;
      color: $text-black;
      .swiper {
        height: 50vh;
        .image {
          width: 100%;
          object-fit: cover;
        }
      }
      .content {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;

        &::before {
          display: block;
          content: "설명";
          text-transform: capitalize;
          font-size: 16px;
          margin-bottom: 5px;
          margin-left: 5px;
          font-weight: bold;
        }
      }
      .skill {
        margin-top: 10px;
        font-size: 18px;

        &::before {
          display: block;
          content: "사용 스킬";
          text-transform: capitalize;
          font-size: 16px;
          margin-bottom: 5px;
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }

    .background {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
